<mat-toolbar>
  <a routerLink='' mat-button color="primary">
    <h1>
      QnA
    </h1>
  </a>

  <span class="fill-space"></span>

  <div>
    <mat-form-field floatLabel="never">
      <input matInput type="search" matInput placeholder="Search" appearance="legacy">
    </mat-form-field>

    <a mat-button>
      <mat-icon>search</mat-icon>
    </a>

    <a routerLink='/login' mat-stroked-button color="primary">
      Log in
    </a>
    <a routerLink='/signup' mat-stroked-button color="primary">
      Sign up
    </a>

  </div>
</mat-toolbar>