mat-form-field{
    font-size: .75em;
    padding: 0%;
}

mat-toolbar {
    background-color: #33b5e5;
}

.sidenav-button {
    background-color: #33b5e5;
    border-radius: 0%;
    padding: 0%;
    min-width: 3em;
}

.tag{
    padding: 0%;
    margin: 3% 0% 0% 6%;
    font-size: 0.8em;
    cursor: pointer;
}

.tag:hover{
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.white-font{
    color: #ffffff;
}

.bigSize{
    font-size: 1.75em;
}

.side-nav{
    width: 60vw;
    background-color: lightblue;
}

.margin{
    margin: 3% 0% 0% 3%;
}

.search-bar{
    margin: 4% 0% 0% 4%;
}

.title {
    font-size: 1.5em;
}