div{
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
}

mat-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}