div{
    display: flex;
    justify-content: space-around;
}

mat-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    background-color: lightskyblue;
}