.full-page{
    min-height: 90vh;
}

.left{
    margin: 3%;
}

.right{
    margin: 3%;
}

.title {
    font-size: 1.5em;
}

.small-icon { 
    font-size: 18px;
    cursor: pointer;
}

.all-answers{
    margin: 1% 2%;
    padding: 1%;
}

.related-questions{
    margin-top: 5%;
}

mat-form-field {
    width: 100%;
}

mat-expansion-panel{
    margin: 0 !important;
}

.hight-light:hover{
    color: blue;
    cursor: pointer;
}

.hight-light{
    font-size: 125%;
    margin: 2% 0% 0% 2%;
}

mat-divider.margin{
    margin: 3% 0%;
}