<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-between none" class="full-page">
    <div class="left" fxFlex="65">
        <h1>{{question.question}}</h1>
        <p>
            <mat-icon class="small-icon">folder</mat-icon> {{question.tag}}
        </p>
        <p class="user">
            <mat-icon class="small-icon" matSuffix>person</mat-icon>
            {{question.askedByUser}}
        </p>
        <mat-divider></mat-divider>
        <div *ngFor="let answer of answers; let i = index" class="all-answers" fxLayout="column" fxLayoutAlign="space-between none">
            <div id="accepted-answer">
                <span>{{answers[i].isCorrectAnswer ? 'Accepted answer' : '' }} </span>
                <mat-icon matSuffix >{{answers[i].isCorrectAnswer ? 'done_all' : '' }}</mat-icon>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between none">
                <p>{{answers[i].answer}}</p>
                <div *ngIf="canEdit()">
                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #appMenu="matMenu">
                        <button (click)="onUpdateAnswer(i)" mat-menu-item matTooltip="Edit this answer">
                            <mat-icon class="small-icon" matSuffix>edit</mat-icon> Edit
                        </button>
                        <button (click)="onDeleteAnswer(i)" mat-menu-item matTooltip="Delete this answer">
                            <mat-icon class="small-icon" matSuffix>clear</mat-icon> Delete
                        </button>
                        <button (click)="markAnswer(i)" matTooltip="Accept this answer" mat-menu-item>
                            <mat-icon class="small-icon" matSuffix>done_all</mat-icon> Mark as correct
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div *ngIf="editable[i]">
                <mat-form-field>
                    <textarea matInput placeholder="Your new answer" #newAnswer></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button (click)="onCancel(i)">Cancel</button>
                    <button mat-raised-button (click)="onUpdate(i, newAnswer.value)">Update</button>
                </div>
            </div>

            <div>
                <div class="user">
                    <mat-icon class="small-icon" matSuffix>person</mat-icon>
                    {{answers[i].answeredByUser}}
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>

    <div class="right" fxFlex="35">
        <mat-expansion-panel hideToggle class="right" [expanded]="open" (opened)="setOpen()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon matSuffix>add</mat-icon> Add your answer
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Your answer" rows="5" #myAnswer required></textarea>
                <div *ngIf="duplicateAnswer">The answer already exists ! </div>
            </mat-form-field>
            <mat-action-row>
                <button mat-raised-button (click)="onAddAnswer(myAnswer)">Add answer</button>
            </mat-action-row>
        </mat-expansion-panel>

        <div class="related-questions">
            <h1> Related questions </h1>
            <p *ngFor="let question of relatedQuestions" class="hight-light" (click)="viewQiestion(question)">
                {{question.question}}
                <mat-divider class="margin"></mat-divider>
            </p>
        </div>
    </div>
</div>