.left{
    padding: 2%;
}

.right{
    margin: 2%;
}

.small-icon, .small-icon:hover { 
    font-size: 18px;
    cursor: pointer;
}

.all-answers{
    margin: 1% 2%;
    padding: 1%;
}

.related-questions{
    margin-top: 10%;
    margin-left: 1%;
}

textarea{
    width: 100%;
}