form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 1px solid black;
    margin: 10% 25% 10% 25%;
    padding: 5%;
    border-radius: 5px;
}

button{
    margin: 5%;
}