<div class="full-page" fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between none">
  <div class="left" fxFlex="70">
    <mat-expansion-panel hideToggle [expanded]="open" (opened)="setOpen()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matSuffix>add</mat-icon> Ask your question
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Your question" rows="3" #newQuestion autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput matInput placeholder="tag" appearance="legacy" autocomplete="off" #tag>
        </mat-form-field>
      </div>
      <mat-action-row>
        <button mat-raised-button (click)="onCreateQuestion(newQuestion, tag)">Ok</button>
      </mat-action-row>
    </mat-expansion-panel>

    <div fxLayout="column" fxLayoutAlign="space-between start">
      <h1>Recent Questions</h1>


      <!-- <div fxFlexAlign="start">
        <mat-form-field floatLabel="never">
          <input matInput type="search" 
          matInput placeholder="Ask your question" 
          appearance="legacy" autocomplete="off"
            #newQuestion>
        </mat-form-field>
        <a mat-button (click)="onCreateQuestion(newQuestion)">
          <mat-icon matSuffix>add</mat-icon>
        </a>
      </div> -->

    </div>
    <div *ngFor="let question of allQuestions; let i = index" class="all-questions">
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div>

          <p [routerLink]="['/answers', question._id]">
            {{question.question}}
          </p>
          <button mat-stroked-button color="primary" [routerLink]="['/answers', question._id]">
            {{question.answers.length}} answers
          </button>
          <p>
            <mat-icon class="small-icon">folder</mat-icon> {{question.tag}}
          </p>
          <p>
            <mat-icon class="small-icon" matSuffix>person</mat-icon>
            {{question.askedByUser}}
          </p>

        </div>
        <span fxLayout="row" *ngIf="canEdit()">
          <p (click)="onUpdateQuestion(i)" matTooltip="Edit question">
            <mat-icon class="small-icon" matSuffix>edit</mat-icon>
          </p>
          <p (click)="onDeleteQuestion(i)" matTooltip="Delete question">
            <mat-icon class="small-icon" matSuffix>clear</mat-icon>
          </p>
        </span>
      </div>
      <div *ngIf="editable[i]">
        <mat-form-field>
          <textarea matInput placeholder="Edit this question" #updatedQuestion></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="onCancel(i)">Cancel</button>
          <button mat-raised-button (click)="onUpdate(i, updatedQuestion.value)">Update</button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="right" fxFlex="30">
    <div>
      <mat-form-field floatLabel="never">
        <input matInput type="search" placeholder="Search" #search>
      </mat-form-field>
      <a mat-button>
        <mat-icon (click)="findQuestions(search.value)">search</mat-icon>
      </a>
    </div>
    <h1>Popular tags</h1>
    <div *ngFor="let tag of allTags" class="all-tags">
      <p (click)="filterTag(tag)">{{ tag }}</p>
    </div>
  </div>
</div>