<mat-grid-list cols="4" rowHeight="1:3">
  <mat-grid-tile colspan="3">
    <mat-list >
      <h1 mat-subheader>Popular Questions</h1>
      <mat-list-item *ngFor="let question of allQuestions">
        <a matLine routerLink="answers">{{question.topic}}</a>
        <p matLine>{{question.question}}</p>
        <button>Update</button>
        <button>Delete</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <button>Add Question</button>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-list>
      <h1 mat-subheader>Popular Topics</h1>
      <mat-list-item *ngFor="let topic of allTopics">  
        <button>{{ topic }}</button>
      </mat-list-item>
    </mat-list>

  </mat-grid-tile>
</mat-grid-list>