mat-divider.margin{
    margin: 3% 0%;
}

mat-card{
    width: 100%;
}

.full-page{
    min-height: 90vh;
}

.hight-light:hover{
    color: #33b5e5;
    cursor: pointer;
}

.hight-light{
    font-size: 125%;
}

.left, .right{
    padding: 2% 3%;
}

.all-questions {
    margin: 1% 2%;
    padding: 1%;
    word-wrap: break-word;
    word-break: break-all; 
}

.all-tags {
    margin: 3% 0% 3% 8%;
}

.small-icon { 
    font-size: 18px; 
}

.bigSize{
    font-size: 2em;
}

textarea{
    width: 100%;
}

.top-margin{
    margin-top: 3%;
}

.no-padding {
    padding: 0;
}

.question{
    padding-bottom: 3px;
}
