.full-page{
    min-height: 100vh;
}

p:hover{
    color: blue;
    cursor: pointer;
}

.left, .right{
    padding: 2%;
}

.all-tags, .all-questions {
    margin: 1% 2%;
    padding: 1%;
}

.small-icon { 
    font-size: 18px; 
}

textarea{
    width: 100%;
}