<div class="full-page" fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between none">
  <div class="left" fxFlex="70">
    <div>
      <mat-expansion-panel hideToggle [expanded]="open" (opened)="setOpen()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon matSuffix>add</mat-icon> Ask your question
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" >
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Your question" rows="3" 
            #newQuestion="ngModel" autocomplete="off" ngModel required #newQuestion1>
            </textarea>
            <mat-error *ngIf="newQuestion.invalid">Required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput matInput placeholder="tag" appearance="legacy" 
            autocomplete="off" #tag="ngModel" ngModel required #tag1>
            <mat-error *ngIf="tag.invalid">Required</mat-error>
          </mat-form-field>
        </div>
        <mat-action-row>
          <button [disabled]="tag.invalid || newQuestion.invalid" mat-raised-button (click)="onCreateQuestion(newQuestion1, tag1)">Ok</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>

    <a (click)="showPopularTags()" mat-button class="bigSize no-hover-effect top-margin">Recent Questions</a>

    <div *ngFor="let question of questionsToShow; let i = index" class="all-questions">
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <div>
          <h2 [routerLink]="['/answers', question._id]" class="hight-light">
            {{question.question}}
          </h2>
          <button mat-stroked-button color="primary" [routerLink]="['/answers', question._id]">
            {{question.answers.length}} answers
          </button>
          <p>
            <mat-icon class="small-icon">folder</mat-icon> {{question.tag}}
          </p>
          <p>
            <mat-icon class="small-icon" matSuffix>person</mat-icon>
            {{question.askedByUser}}
          </p>

        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="itemsPerPageOptions"
      showFirstLastButtons>
    </mat-paginator>
  </div>

  <div class="right" fxFlex="30" fxShow fxHide.lt-lg="true">
    <div>
      <mat-form-field floatLabel="never">
        <input matInput type="search" placeholder="Search" #search>
      </mat-form-field>
      <a mat-button>
        <mat-icon (click)="findQuestions(search.value)">search</mat-icon>
      </a>
    </div>
    <a (click)="showPopularTags()" mat-button class="bigSize no-hover-effect">Popular tags</a>
    <div *ngFor="let tag of allTags" class="all-tags hight-light">
      <p (click)="filterTag(tag)">{{ tag }}</p>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>