<div fxLayout="column" fxLayoutAlign="center center" class="full-page">
    <mat-card class="box">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
            <a routerLink='' mat-button class="no-hover-effect title" fxFill>
                QnA
            </a>
            <mat-form-field>
                <input matInput placeholder="Username" type="text" formControlName="username" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="signupForm.get('username').invalid && (signupForm.get('username').dirty || signupForm.get('username').touched)">Username required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email" required>
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)">Invalid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)">Password required (at least 6 characters)</mat-error>
            </mat-form-field>

            <button mat-raised-button class="blue-hover" type="submit">Sign up</button>

            <a routerLink="/login" mat-button class="no-hover-effect blue-text">Log in instead</a>
            <p>(Just sign up with a fake email</p>
            <p>or login with guest account)</p>
        </form>
    </mat-card>
</div>