.full-page{
    height: 100vh;
}

.box{
    padding: 4% 8%;
}

.blue-hover:hover{
    background-color: lightskyblue;
}

mat-form-field{
    margin-top: 2%;
}

button {
    margin-top: 16%;
}

.title{
    font-size: 2.5em;
    margin-bottom: 8%;
    color: lightseagreen;
}

.blue-text:hover{
    color: lightseagreen;
}
