<div class="container">
  <div *ngIf="isLoggedin">
    <mat-card>
      <mat-card-header>Welcome {{user.username}}</mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item> Your email: {{user.email}} </mat-list-item>
          <mat-list-item> Your password: ******** </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-expansion-panel hideToggle [expanded]="open" (opened)="setOpen()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matSuffix>add</mat-icon> Ask your question
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <textarea matInput ngModel placeholder="Your question" rows="3" #newQuestion="ngModel" autocomplete="off"
            required #newQuestion1></textarea>
          <mat-error *ngIf="newQuestion.invalid">Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput ngModel matInput placeholder="tag" appearance="legacy" autocomplete="off" #tag="ngModel"
            required #tag1>
          <mat-error *ngIf="tag.invalid">Required</mat-error>
        </mat-form-field>
      </div>
      <mat-action-row>
        <button [disabled]="tag.invalid || newQuestion.invalid" mat-raised-button (click)="onCreateQuestion(newQuestion1, tag1)">Ok</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Your questions">
        <div *ngFor="let question of userQuestions ; let i = index" fxLayout="column" fxLayoutAlign="space-between none">
          <div fxLayout="row" fxLayoutAlign="space-between none" class="all-questions">
            <div>
              <p [routerLink]="['/answers', question._id]" class="hover hight-light">Q. {{question.question}} </p>
              <button mat-stroked-button color="primary" [routerLink]="['/answers', question._id]">
                {{question.answers.length}} answers
              </button>
              <p>
                <mat-icon class="small-icon">folder</mat-icon> {{question.tag}}
              </p>

            </div>
            <span *ngIf="canEdit()">
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #appMenu="matMenu">
                <button (click)="onUpdateQuestion(i)" matTooltip="Edit this question" mat-menu-item>
                  <mat-icon class="small-icon" matSuffix>edit</mat-icon> Edit
                </button>
                <button (click)="onDeleteQuestion(i)" matTooltip="Delete this question" mat-menu-item>
                  <mat-icon class="small-icon" matSuffix>clear</mat-icon> Delete
                </button>
              </mat-menu>
            </span>
          </div>

          <div *ngIf="editable[i]">
            <mat-form-field>
              <textarea matInput placeholder="Edit this question" #updatedQuestion></textarea>
            </mat-form-field>
            <div>
              <button mat-raised-button (click)="onCancel(i)">Cancel</button>
              <button mat-raised-button (click)="onUpdate(i, updatedQuestion.value)">Update</button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-tab>
      <mat-tab label="Your answers">
        <div *ngFor="let question of userAnswers; let i = index " fxLayout="column" fxLayoutAlign="space-between none" class="all-answers">
          <p [routerLink]="['/answers', question._id]" class="hover">Q. {{question.question}}</p>
          <p>
            <mat-icon class="small-icon">folder</mat-icon> {{question.tag}}
          </p>
          <div *ngFor="let answer of userAnswers[i].answers" class="hover hight-light" [routerLink]="['/answers', question._id]">
            <p *ngIf="answer.answeredByUser === user.username">A. {{ answer.answer }}</p>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="!isLoggedin">
    You have signed out successfully !
  </div>
</div>