.container{
    margin: 2%;
    min-height: 100vh;
}

.white-font{
    color: #ffffff;
}

.title{
    font-size: 3em;
    color: blue;
}

.small-icon { 
    font-size: 18px; 
}

.hover:hover{
    cursor: pointer;
}

mat-expansion-panel {
    margin-top: 3%;
}

.all-questions {
    margin: 1% 0%;
}

.hight-light{
    color: #33b5e5;
}