@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
    box-sizing: border-box;
    margin: 0;
}

.no-hover-effect.mat-button .mat-button-focus-overlay {
    background-color: transparent;
}
