mat-form-field {
    padding: 0%;
    font-size: 0.8em;
}

mat-toolbar {
    z-index: 1000;
    position: fixed;
    top: 0;
}

mat-card {
    margin: 2%;
    background-color: #ffffff;
}

#first-toolbar-row{
    background-color: #13b6f1;
}

#second-toolbar-row{
    background-color: #50c5f0;
    height: 52px;
}

#second-toolbar-row button{
    margin: 0px 4px;
    padding: 0px 6px;
}

.sidenav-button {
    background-color: #33b5e5;
    border-radius: 0%;
    padding: 0%;
    min-width: 3em;
}

.tag{
    padding: 0%;
    margin: 0%;
    cursor: pointer;
}

.white-font{
    color: #ffffff;
}

.side-nav{
    background-color: #ffffff;
}

.title {
    font-size: 1.5em;
}

.md {
    font-size: 1.2em;
}

.search-icon:hover{
    cursor: pointer;
}

.offset1{
    margin-top: 116px;
}

.offset2{
    margin-top: 64px;
}

.no-padding {
    padding: 0;
}