<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #drawer [(opened)]="opened" mode="over" position="end" fixedInViewport="true" class="side-nav" autosize>
    <mat-card>
      <mat-form-field appearance="outline">
        <input matInput type="search" placeholder="Search" #search autocomplete="off">
        <mat-icon class="search-icon" mat-icon-button matSuffix (click)="findQuestions(search.value)">search</mat-icon>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <a (click)="showPopularTags()" mat-button class="title no-hover-effect">Popular tags</a>
      <mat-list *ngFor="let tag of allTags" class="tag">
        <mat-list-item (click)="filterTag(tag)">{{ tag }}</mat-list-item>
      </mat-list>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="side-nav">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" fxShow [fxHide]="onUserPage">
        <div fxLayout="row">
          <button mat-button (click)="drawer.toggle()" class="sidenav-button" fxHide [fxShow.lt-lg]="onMainPage">
            <mat-icon class="title">{{opened ? 'close': 'menu'}}</mat-icon>
          </button>
          <a routerLink='' mat-button color="primary" class="white-font no-hover-effect title">
            QnA
          </a>
        </div>

        <div *ngIf="!isLoggedin">
          <a routerLink='/login' mat-stroked-button color="primary" class="white-font">
            Log in
          </a>
          <a routerLink='/signup' mat-stroked-button color="primary" class="white-font">
            Sign up
          </a>

        </div>
        <div *ngIf="isLoggedin">
          <a routerLink='/user' mat-stroked-button color="primary" class="white-font">
            User
          </a>
          <button (click)="onLogout()" mat-stroked-button color="primary" class="white-font">
            Log out
          </button>
        </div>
      </mat-toolbar>

      <div [ngClass]="onUserPage ? '' : 'offset'">
        <router-outlet (activate)="onActivate()"></router-outlet>
      </div>


    </div>
    <app-footer fxShow [fxHide]="onUserPage"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>